quarkus:
  http:
    host: 0.0.0.0
    port: 8080

  banner:
    path: scc-banner.txt

  jackson:
    accept-case-insensitive-enums: true
    timezone: "UTC"

  hibernate-validator:
    fail-fast: true

  console:
    color: true

  log:
    console:
      enable: true
      # Reinstate deprecated configuration as test-containers for example still uses it
      color: true
      # As per https://quarkus.io/guides/opentracing#create-the-configuration
      format: "%d{HH:mm:ss} %-5p traceId=%X{traceId}, parentId=%X{parentId}, spanId=%X{spanId}, sampled=%X{sampled} [%c{2.}] (%t) %s%e%n"

  mongodb:
    database: catalog
    # An example of the connection string. Notice that uuidRepresentation=standard is required to
    # be able to use UUID types for identifiers.
    # connection-string: mongodb://root:rootpassword@localhost:27017/?uuidRepresentation=standard
    devservices:
      properties:
        uuidRepresentation: standard

  rest-client:
    sco-so-api:
      url: http://sco-so:50101/pkg

  swagger-ui:
    title: Security Capabilities Catalogue API
